TP5_Accseso_HW/.DS_Store
TP5_Accseso_HW/.DS_Store
TP5_Accseso_HW/x64BareBones/.DS_Store
TP5_Accseso_HW/.DS_Store
TP5_Accseso_HW/.DS_Store
TP5_Accseso_HW/x64BareBones/Kernel/.DS_Store
TP5_Accseso_HW/x64BareBones/Bootloader/.DS_Store
TP2_Accseso_HW/*.o
TP3_Asm&C/*.o
.DS_Store
TP2_Asm_y_sysCalls/ej1/ej1
TP2_Asm_y_sysCalls/ej1/ej1
TP2_Asm_y_sysCalls/ej10/ej10
.DS_Store
